.login-form-label {
  font-weight: bold;
}

.input-block {
  width: 70%;
}

.input-block .input:focus {
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #a66bef, #ca40ab, #ffb658);
  border: double 2px transparent;
}
.input-block .input {
  outline: none;
}
