.signin-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: var(--gradient);
  animation: bg-animation 25s infinite;
  background-size: 400%;
}

.form-container {
  background-color: white;
  width: 90%;
  height: 818px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
  margin-bottom: 100px;
}

.form-container i {
  margin-right: 267px;
  background: var(--gradient);
  font-size: 25px;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-container .form-title {
  color: #262626;
  font-size: 36px;
  margin-bottom: 30px;
}

.form-container .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-container .login-form .login-link {
  color: #262626;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
